/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Avenir"!default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #0A4D8C !default;
$selection-bg: #26351c !default;


// headings
$h1-font-size: 2em;
$h2-font-size: 1.3em;
$h3-font-size: 1em;
$h4-font-size: 0.7em;


/*-- scss:rules --*/
